@page
@model PMTRazor.Pages.AboutusModel
@{
    ViewData["Title"] = "Aboutus";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

    <section class="aboutusPage">
        <div class="sectionarea">
            <div class="wrapper">
                <div class="">

                    <h3>About IL&D Online</h3>
                    <p>Learning is inevitable to boost the Productivity, Performance and Morale of the People.</p>
                    <p>We offer online webinar training programs with live interactive sessions to improve people productivity and performance</p>

                    <p>We are engaging with corporate to provide Learning solutions, to unlock & excel the Employee potential and thereby improve business outputs.</p>

                    <p>The value proposition that we offer is the IMPACT of Learning on business that's why we named it - IL&D – Impactful Learning & Development</p>

                    <h4>Our Vision</h4>
                    At IL&D-Online is to help organizations up skill their employees with the most up-to-date, relevant, and engaging content taught online webinar by the leading industry experts and trainers across India
                    <h4>Our Values</h4>
                    <ul class="list-unstyled bulletList">
                        <li><span class="icon icon-circle"></span>  Customer 1st</li>
                        <li><span class="icon icon-circle"></span>  Inclusive</li>
                        <li><span class="icon icon-circle"></span>  Individual Dignity and Team Work</li>
                        <li><span class="icon icon-circle"></span>  Honesty and Integrity</li>
                    </ul>

                    </br>

                    <p>We enable organizations to help reduce training costs by delivering engaging and effective online training to move the business forward.</p>
                </div>
            </div>
        </div>
        <div class="sectionarea programsNoHeighlites" id="Whatoffers">
            <div class="wrapper">
                <div class="whatoffersSection">
                    <h3 class="text-center">What IL&D Online offers? </h3>


                    <ul class="list-unstyled ">
                        <li>300+ <p>Training Programs</p></li>
                        <li>14 <p>Regional Languages</p></li>
                        <li>54+ <p>Cities</p></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="sectionarea " id="ourTeam">
            <div class="wrapper">
                <div class="ourTeamSection clearfix">
                    <h2 class="text-center">Our Team</h2>
                    <h5 class="text-center">Our core team has decades of experience in On-line and Off-line training, e-learning, and blended learning.</h5>

                    </br>
                    <div class="col-sm-6">
                        <div class="clearfix">
                            <div class="profileAvtar pull-right">
                                <img class="media-object" src="../TrainerPhotos/Brijesh Shastri.jpg" alt="..." align="centre" width="150" height="150">
                            </div>
                            <h1>Brijesh Shastri</h1>
                            <h4>Founder Director </br>IL&amp;D – Impactful Learning &amp; Development </h4>
                        </div>
                        <p class="">Brijesh is an Entrepreneur in Learning Industry and an accomplished trainer with 15 years of wide ranging experience in L&D and 10 years in sales and marketing. </p>
                        <p class="">His industry experience spans across Pharma, Telecom, Retail, and e-Commerce and Learning industry. He has held various leadership positions in Sales, L&D function in Lupin Laboratories, NIS Sparta, Reliance Communication, Reliance Retail, and Flipkart. </p>
                        <p class="">He has successfully accomplished various large scale Learning & Development projects, targeted Performance Coaching, Assessment Centers with the developmental path for individuals</p>

                        <p class="">He has been instrumental in providing Impactful Learning Solution to various clients across Industries like Retail, E-Commerce, Telecom, BFSI, Manufacturing, MSME and SMEs too.</p>
                        <p class="">He was a Head of Content for Flipkart and Head of Content at NIS Sparta, before starting his own journey of entrepreneurship</p>
                    </div>

                    <div class="col-sm-6">
                        <div class="clearfix">
                            <div class="profileAvtar pull-right">
                                <img class="media-object" src="../TrainerPhotos/Vivek Mehrotra.jpg" alt="..." align="centre" width="150" height="150">
                            </div>
                            <h1>Vivek Mehrotra </h1>
                            <h4> CEO  </br>IL&amp;D – Impactful Learning &amp; Development </h4>
                        </div>
                        <p>Vivek is an author, an HR generalist, a passionate L&D professional, and a Coach with a rare combination of experience spanning over four decades and exposure to six different industries, namely Pharmaceutical, Telecom, Retail, E-commerce, BFSI, and Consumer Services.</p>
                        <p>Vivek has served Zomato as Head of Learning & Development, Jana Small Finance Bank as Head L&D Deployment, Flipkart as Head Academy for Supply Chain, Reliance Retail as Head of Operations Training Academy, Reliance Infocomm as Circle Training Head, and in-house training departments of Torrent Pharma, Cadila Pharma, and Lupin Labs.</p>
                        <p>He has a proven track record of success in Learning & Development, including the creation of an App-based eLearning induction training module, spearheading the launch of large-scale training and coaching rollouts, targeted Performance Coaching, Leadership development including the deployment of Assessment Centres.</p>
                        <p>He has authored books on topics such as Motivation, Customer Service, Communications, Pharmaceutical Selling, and Pharmaceutical Sales Management.
                    </div>
                </div>
            </div>
        </div>
    </section>

